<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created - imgbeam</title>
</head>
<body>
    Account created!
    An email has be sent to <%=email%>.  You must confirm this email before accessing your account.
</body>
</html>